#red {
  color: red;
}

.centered {
  text-align: center;
}

* {
  color: black;
}

header {
  text-align: center;
  color: blue;
}

h1, h2, h3 {
  text-align: left;
}

a[href*="https"] {
  border: 5px solid pink;
}

a.highlight:hover {
  color: yellow;
}
