#red {
  color: red;
}

.centered {
  text-align: center;
}

* {
  color: hsl(0,0,0);
}

header {
  text-align: center;
  color: rgb(0,0,255);
}

h1, h2, h3 {
  text-align: left;
}

a[href*="https"] {
  border: 5px solid pink;
}

a.highlight:hover {
  color: #FFFF00;
}

h1 p {
  background-color: pink;
}

h1 > p {
  font-family: "Copperplate";
}


